node_red/Flows.json
[
   {
      "id":"44aafa48.6dc6d4",
      "type":"tab",
      "label":"waypoint_control",
      "disabled":false,
      "info":""
   },
   {
      "id":"9af8863e.7645e8",
      "type":"tab",
      "label":"odometry_control",
      "disabled":false,
      "info":""
   },
   {
      "id":"53d2ec5b.06b504",
      "type":"tab",
      "label":"Vel_control",
      "disabled":false,
      "info":""
   },
   {
      "id":"b32abdca.b4f898",
      "type":"tab",
      "label":"MQTT",
      "disabled":false,
      "info":""
   },
   {
      "id":"ab0d497f.095068",
      "type":"ros-server",
      "z":"",
      "url":"ws://raspi-ros00:9090/"
   },
   {
      "id":"edfcd702.5a67e8",
      "type":"ros-server",
      "z":"",
      "url":"ws://ROS-desktop:9090/"
   },
   {
      "id":"18b7da3d.43f1e6",
      "type":"ros-server",
      "z":"",
      "url":"ws://pi-desktop:9090/"
   },
   {
      "id":"3b333869.f59f08",
      "type":"ros-server",
      "z":"",
      "url":"ws://raspi-ros01:9090/"
   },
   {
      "id":"9677a723.15a5d8",
      "type":"ros-server",
      "z":"",
      "url":"ws://ROS-Jetson:9090/"
   },
   {
      "id":"29f936a2.130aaa",
      "type":"ros-server",
      "z":"",
      "url":"ws://Raspi-ROS-02:9090/"
   },
   {
      "id":"69f8ec92.eedf54",
      "type":"mqtt-broker",
      "z":"",
      "name":"",
      "broker":"localhost",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "compatmode":true,
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "willTopic":"",
      "willQos":"0",
      "willPayload":""
   },
   {
      "id":"cd5249b6.458968",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"9677a723.15a5d8",
      "topicname":"/odometry_control/state",
      "msgtype":"std_msgs/String",
      "x":610,
      "y":80,
      "wires":[

      ]
   },
   {
      "id":"5719afaa.cf28b",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"RUNNING",
      "topic":"",
      "payload":"{\"data\":\"RUNNING\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":360,
      "y":40,
      "wires":[
         [
            "cd5249b6.458968"
         ]
      ]
   },
   {
      "id":"8481dcd0.13033",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"STOP",
      "topic":"",
      "payload":"{\"data\":\"STOP\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":370,
      "y":340,
      "wires":[
         [
            "cd5249b6.458968"
         ]
      ]
   },
   {
      "id":"98597528.baddc8",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"9677a723.15a5d8",
      "topicname":"/odometry_control/cmd",
      "msgtype":"std_msgs/String",
      "x":620,
      "y":200,
      "wires":[

      ]
   },
   {
      "id":"d3201e68.b44c6",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"forward 1 meter",
      "topic":"",
      "payload":"{\"data\":\"fwd,1\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":340,
      "y":100,
      "wires":[
         [
            "98597528.baddc8"
         ]
      ]
   },
   {
      "id":"e1f084a8.0ecc08",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"backward 1 meter",
      "topic":"",
      "payload":"{\"data\":\"fwd,-1\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":330,
      "y":160,
      "wires":[
         [
            "98597528.baddc8"
         ]
      ]
   },
   {
      "id":"288551d0.312fee",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"turn counter-clockwise 90 degree",
      "topic":"",
      "payload":"{\"data\":\"turn,90\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":290,
      "y":220,
      "wires":[
         [
            "98597528.baddc8"
         ]
      ]
   },
   {
      "id":"f13a2b13.965e88",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"turn clockwise 90 degree",
      "topic":"",
      "payload":"{\"data\":\"turn,-93\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":310,
      "y":280,
      "wires":[
         [
            "98597528.baddc8"
         ]
      ]
   },
   {
      "id":"48c1283.97e33d8",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/odometry_control/control_parameters",
      "msgtype":"std_msgs/String",
      "x":690,
      "y":500,
      "wires":[

      ]
   },
   {
      "id":"25c95e22.61ea82",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"params",
      "topic":"",
      "payload":"{\"data\":\"0.3,0.8,0.8,0.8\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":370,
      "y":500,
      "wires":[
         [
            "48c1283.97e33d8"
         ]
      ]
   },
   {
      "id":"bc8a0945.e29478",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/odometry_control/acceleration",
      "msgtype":"std_msgs/String",
      "x":670,
      "y":580,
      "wires":[

      ]
   },
   {
      "id":"9f0a59f4.d1dd18",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"acceleration",
      "topic":"",
      "payload":"{\"data\":\"0.1,0.1\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":350,
      "y":580,
      "wires":[
         [
            "bc8a0945.e29478"
         ]
      ]
   },
   {
      "id":"1d76f18d.7a8a8e",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/odometry_control/max_linear_speed",
      "msgtype":"std_msgs/Float32",
      "x":690,
      "y":660,
      "wires":[

      ]
   },
   {
      "id":"c359db8a.e2abe8",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"Max linear speed",
      "topic":"",
      "payload":"{\"data\":1.0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":340,
      "y":660,
      "wires":[
         [
            "1d76f18d.7a8a8e"
         ]
      ]
   },
   {
      "id":"7ed08149.583b5",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/odometry_control/max_angular_speed",
      "msgtype":"std_msgs/Float32",
      "x":690,
      "y":740,
      "wires":[

      ]
   },
   {
      "id":"66ba6eb1.c92c7",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"Max angular speed",
      "topic":"",
      "payload":"{\"data\":1.0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":330,
      "y":740,
      "wires":[
         [
            "7ed08149.583b5"
         ]
      ]
   },
   {
      "id":"45a30948.29c978",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/odometry_control/forwarding_thres",
      "msgtype":"std_msgs/Float32",
      "x":680,
      "y":820,
      "wires":[

      ]
   },
   {
      "id":"93299871.6ed298",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"Forward threshold",
      "topic":"",
      "payload":"{\"data\":0.1}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":330,
      "y":820,
      "wires":[
         [
            "45a30948.29c978"
         ]
      ]
   },
   {
      "id":"6a721042.0dc26",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/odometry_control/turning_thres",
      "msgtype":"std_msgs/Float32",
      "x":670,
      "y":900,
      "wires":[

      ]
   },
   {
      "id":"92bff07e.dab01",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"Turning threshold",
      "topic":"",
      "payload":"{\"data\":0.2}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":340,
      "y":900,
      "wires":[
         [
            "6a721042.0dc26"
         ]
      ]
   },
   {
      "id":"f4240494.bf8d18",
      "type":"ros-publish",
      "z":"53d2ec5b.06b504",
      "server":"29f936a2.130aaa",
      "topicname":"/cmd_vel",
      "msgtype":"geometry_msgs/Twist",
      "x":620,
      "y":160,
      "wires":[

      ]
   },
   {
      "id":"7a0caed1.b788b",
      "type":"inject",
      "z":"53d2ec5b.06b504",
      "name":"Inject forward",
      "topic":"",
      "payload":"{\"linear\":{\"x\":1,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":0}}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":230,
      "y":100,
      "wires":[
         [
            "f4240494.bf8d18"
         ]
      ]
   },
   {
      "id":"9bb9c686.1901f8",
      "type":"function",
      "z":"53d2ec5b.06b504",
      "name":"Square",
      "func":"let twist = {\n    \"linear\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    },\n    \"angular\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    }\n};\n\nfunction square(state) {\n    switch (state) {\n        case 0:\n        case 2:\n        case 4:\n        case 6:\n            twist.linear.x = 0.4;\n            twist.angular.z = 0.0;\n            ms = 2000;\n            break;\n        case 1:\n        case 3:\n        case 5:\n        case 7:\n            twist.linear.x = 0.0;\n            twist.angular.z = -1.4;\n            ms = 1150;\n            break;\n        default:\n            twist.linear.x = 0.0;\n            twist.angular.z = 0.0;\n            ms = 1000;\n    }\n    msg.payload = twist;\n    node.send(msg);\n    state++;\n    if (state < 9) {\n        setTimeout(() => {\n            square(state, ms);\n            }, ms)\n    }\n}\n\nsquare(0);\n",
      "outputs":1,
      "noerr":0,
      "x":440,
      "y":260,
      "wires":[
         [
            "f4240494.bf8d18"
         ]
      ]
   },
   {
      "id":"f543bb61.48d488",
      "type":"inject",
      "z":"53d2ec5b.06b504",
      "name":"Inject start scenario",
      "topic":"",
      "payload":"",
      "payloadType":"date",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":210,
      "y":260,
      "wires":[
         [
            "9bb9c686.1901f8"
         ]
      ]
   },
   {
      "id":"63415b34.c099b4",
      "type":"inject",
      "z":"53d2ec5b.06b504",
      "name":"Inject stop",
      "topic":"",
      "payload":"{\"linear\":{\"x\":0,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":0}}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "x":240,
      "y":220,
      "wires":[
         [
            "f4240494.bf8d18"
         ]
      ]
   },
   {
      "id":"1b8c9c23.da7c34",
      "type":"inject",
      "z":"53d2ec5b.06b504",
      "name":"Inject backward",
      "topic":"",
      "payload":"{\"linear\":{\"x\":-0.3,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":0}}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":220,
      "y":60,
      "wires":[
         [
            "f4240494.bf8d18",
            "dc75b0aa.0820d"
         ]
      ]
   },
   {
      "id":"34c45c95.beaea4",
      "type":"inject",
      "z":"53d2ec5b.06b504",
      "name":"Turn counter-clockwise",
      "topic":"",
      "payload":"{\"linear\":{\"x\":0,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":1}}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":200,
      "y":140,
      "wires":[
         [
            "f4240494.bf8d18"
         ]
      ]
   },
   {
      "id":"9f82f11e.220c7",
      "type":"inject",
      "z":"53d2ec5b.06b504",
      "name":"Turn clockwise",
      "topic":"",
      "payload":"{\"linear\":{\"x\":0,\"y\":0,\"z\":0},\"angular\":{\"x\":0,\"y\":0,\"z\":-1}}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":220,
      "y":180,
      "wires":[
         [
            "f4240494.bf8d18"
         ]
      ]
   },
   {
      "id":"fb300cd2.8d21c",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"29f936a2.130aaa",
      "topicname":"/waypoint/state",
      "msgtype":"std_msgs/String",
      "x":500.00000381469727,
      "y":190.00000190734863,
      "wires":[

      ]
   },
   {
      "id":"7acb3dbe.9faa14",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"RUNNING",
      "topic":"",
      "payload":"{\"data\":\"RUNNING\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":300.00000381469727,
      "y":170.00000190734863,
      "wires":[
         [
            "fb300cd2.8d21c"
         ]
      ]
   },
   {
      "id":"4a37c271.13319c",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"STOP",
      "topic":"",
      "payload":"{\"data\":\"STOP\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":310.00000381469727,
      "y":230.00000190734863,
      "wires":[
         [
            "fb300cd2.8d21c"
         ]
      ]
   },
   {
      "id":"f9b2d79.48b8028",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"3b333869.f59f08",
      "topicname":"/waypoint",
      "msgtype":"sensor_msgs/NavSatFix",
      "x":840,
      "y":280,
      "wires":[

      ]
   },
   {
      "id":"5e85412c.15b1a",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"3b333869.f59f08",
      "topicname":"/waypoint/control_parameters",
      "msgtype":"std_msgs/String",
      "x":590,
      "y":640,
      "wires":[

      ]
   },
   {
      "id":"9d4b36d5.9f5638",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"params",
      "topic":"",
      "payload":"{\"data\":\"0.3,0.8,0.8,0.8\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":290,
      "y":640,
      "wires":[
         [
            "5e85412c.15b1a"
         ]
      ]
   },
   {
      "id":"1d75a1bb.d74b4e",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"3b333869.f59f08",
      "topicname":"/waypoint/acceleration",
      "msgtype":"std_msgs/String",
      "x":560,
      "y":720,
      "wires":[

      ]
   },
   {
      "id":"539a436a.693aec",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"acceleration",
      "topic":"",
      "payload":"{\"data\":\"0.1,0.1\"}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":270,
      "y":720,
      "wires":[
         [
            "1d75a1bb.d74b4e"
         ]
      ]
   },
   {
      "id":"4d42c2d1.909bac",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"ab0d497f.095068",
      "topicname":"/waypoint/max_linear_speed",
      "msgtype":"std_msgs/Float32",
      "x":580,
      "y":800,
      "wires":[

      ]
   },
   {
      "id":"d4132a46.b60b48",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Max linear speed",
      "topic":"",
      "payload":"{\"data\":1.0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":260,
      "y":800,
      "wires":[
         [
            "4d42c2d1.909bac"
         ]
      ]
   },
   {
      "id":"12e85d05.e97df3",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"ab0d497f.095068",
      "topicname":"/waypoint/max_angular_speed",
      "msgtype":"std_msgs/Float32",
      "x":590,
      "y":880,
      "wires":[

      ]
   },
   {
      "id":"40a02a29.e25f24",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Max angular speed",
      "topic":"",
      "payload":"{\"data\":1.0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":250,
      "y":880,
      "wires":[
         [
            "12e85d05.e97df3"
         ]
      ]
   },
   {
      "id":"109f9840.4962a8",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"ab0d497f.095068",
      "topicname":"/waypoint/forwarding_thres",
      "msgtype":"std_msgs/Float32",
      "x":580,
      "y":960,
      "wires":[

      ]
   },
   {
      "id":"61f1dc9c.e87c44",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Forward threshold",
      "topic":"",
      "payload":"{\"data\":0.1}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":250,
      "y":960,
      "wires":[
         [
            "109f9840.4962a8"
         ]
      ]
   },
   {
      "id":"4659c80e.c59d38",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"ab0d497f.095068",
      "topicname":"/waypoint/turning_thres",
      "msgtype":"std_msgs/Float32",
      "x":570,
      "y":1040,
      "wires":[

      ]
   },
   {
      "id":"63c8d301.ba16bc",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Turning threshold",
      "topic":"",
      "payload":"{\"data\":0.2}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":260,
      "y":1040,
      "wires":[
         [
            "4659c80e.c59d38"
         ]
      ]
   },
   {
      "id":"8c4d90e2.5625d",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Initial robot pose",
      "topic":"",
      "payload":"{\"pose\":{\"pose\":{\"position\":{\"x\":0,\"y\":0,\"z\":0},\"orientation\":{\"x\":0,\"y\":0,\"z\":0,\"w\":1}}}}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":180,
      "y":280,
      "wires":[
         [
            "a46a6d09.dff1c"
         ]
      ]
   },
   {
      "id":"a46a6d09.dff1c",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"29f936a2.130aaa",
      "topicname":"/odo_calib_pose",
      "msgtype":"nav_msgs/Odometry",
      "x":380,
      "y":280,
      "wires":[

      ]
   },
   {
      "id":"2e2e4234.06e89e",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Initial waypoint",
      "topic":"",
      "payload":"{\"longitude\":0,\"latitude\":0,\"altitude\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":620,
      "y":280,
      "wires":[
         [
            "f9b2d79.48b8028"
         ]
      ]
   },
   {
      "id":"51aa786f.e97e28",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Second waypoint",
      "topic":"",
      "payload":"{\"longitude\":1,\"latitude\":0,\"altitude\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":620,
      "y":340,
      "wires":[
         [
            "f9b2d79.48b8028"
         ]
      ]
   },
   {
      "id":"66aeba6d.32c454",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Set waypoint",
      "topic":"",
      "payload":"{\"longitude\":0.00001,\"latitude\":0,\"altitude\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":440,
      "wires":[
         [
            "3e126a07.816ee6"
         ]
      ]
   },
   {
      "id":"3e126a07.816ee6",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"3b333869.f59f08",
      "topicname":"/waypoint",
      "msgtype":"sensor_msgs/NavSatFix",
      "x":500,
      "y":500,
      "wires":[

      ]
   },
   {
      "id":"90488785.ec0bc8",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Set waypoint",
      "topic":"",
      "payload":"{\"longitude\":0.00001,\"latitude\":0.00001,\"altitude\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":480,
      "wires":[
         [
            "3e126a07.816ee6"
         ]
      ]
   },
   {
      "id":"8682ad43.f270c",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Set waypoint",
      "topic":"",
      "payload":"{\"longitude\":0,\"latitude\":0.00001,\"altitude\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":520,
      "wires":[
         [
            "3e126a07.816ee6"
         ]
      ]
   },
   {
      "id":"3dab994a.c6abc6",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Set waypoint",
      "topic":"",
      "payload":"{\"longitude\":0,\"latitude\":0,\"altitude\":0}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":230,
      "y":560,
      "wires":[
         [
            "3e126a07.816ee6"
         ]
      ]
   },
   {
      "id":"5a44061.9715bf8",
      "type":"ros-subscribe",
      "z":"53d2ec5b.06b504",
      "server":"9677a723.15a5d8",
      "topicname":"/cmd_vel",
      "x":160,
      "y":340,
      "wires":[
         [
            "523cf422.ead0ac"
         ]
      ]
   },
   {
      "id":"489ea507.1f94bc",
      "type":"debug",
      "z":"53d2ec5b.06b504",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":450,
      "y":340,
      "wires":[

      ]
   },
   {
      "id":"523cf422.ead0ac",
      "type":"function",
      "z":"53d2ec5b.06b504",
      "name":"JSON",
      "func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":310,
      "y":340,
      "wires":[
         [
            "489ea507.1f94bc"
         ]
      ]
   },
   {
      "id":"c1c17f8c.c7e96",
      "type":"ros-publish",
      "z":"9af8863e.7645e8",
      "server":"3b333869.f59f08",
      "topicname":"/arlobot/reset_motorBoard",
      "msgtype":"std_msgs/Bool",
      "x":650,
      "y":420,
      "wires":[

      ]
   },
   {
      "id":"f9c834ee.c54fa8",
      "type":"inject",
      "z":"9af8863e.7645e8",
      "name":"Reset MotorBoard",
      "topic":"",
      "payload":"{\"data\":true}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":330,
      "y":420,
      "wires":[
         [
            "c1c17f8c.c7e96"
         ]
      ]
   },
   {
      "id":"27c76223.031b9e",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"3b333869.f59f08",
      "topicname":"/arlobot/reset_motorBoard",
      "msgtype":"std_msgs/Bool",
      "x":530,
      "y":400,
      "wires":[

      ]
   },
   {
      "id":"2e274a00.9b4df6",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Reset MotorBoard",
      "topic":"",
      "payload":"{\"data\":true}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "x":210,
      "y":400,
      "wires":[
         [
            "27c76223.031b9e"
         ]
      ]
   },
   {
      "id":"c3000873.d2b048",
      "type":"ros-subscribe",
      "z":"53d2ec5b.06b504",
      "server":"9677a723.15a5d8",
      "topicname":"/odom",
      "x":170,
      "y":400,
      "wires":[
         [
            "776ffc4c.2ba454"
         ]
      ]
   },
   {
      "id":"17262cf2.192b83",
      "type":"debug",
      "z":"53d2ec5b.06b504",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":460,
      "y":400,
      "wires":[

      ]
   },
   {
      "id":"776ffc4c.2ba454",
      "type":"function",
      "z":"53d2ec5b.06b504",
      "name":"JSON",
      "func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":320,
      "y":400,
      "wires":[
         [
            "17262cf2.192b83"
         ]
      ]
   },
   {
      "id":"7e962fc8.5cc5a",
      "type":"ros-subscribe",
      "z":"53d2ec5b.06b504",
      "server":"9677a723.15a5d8",
      "topicname":"/robot_gps_pose",
      "x":140,
      "y":460,
      "wires":[
         [
            "acbcb34b.ce1b"
         ]
      ]
   },
   {
      "id":"4ad0798d.972ba8",
      "type":"debug",
      "z":"53d2ec5b.06b504",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":460,
      "y":460,
      "wires":[

      ]
   },
   {
      "id":"acbcb34b.ce1b",
      "type":"function",
      "z":"53d2ec5b.06b504",
      "name":"JSON",
      "func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":320,
      "y":460,
      "wires":[
         [
            "4ad0798d.972ba8"
         ]
      ]
   },
   {
      "id":"b37dd7ab.cb90a8",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Initial fiducial map 89",
      "topic":"",
      "payload":"{\"fiducials\":[{\"y\":55.7827023488895,\"z\":10.2530002593994,\"x\":12.5141731917683,\"rx\":0,\"ry\":180,\"rz\":276.5,\"fiducial_id\":100},{\"y\":55.7826913621249,\"z\":10.8999996185303,\"x\":12.5142383914115,\"rx\":6.10666519521713e-13,\"ry\":180,\"rz\":204.907989501953,\"fiducial_id\":124},{\"y\":55.7827030087058,\"z\":10.1400003433228,\"x\":12.5141939157732,\"rx\":0,\"ry\":180,\"rz\":114.908004760742,\"fiducial_id\":118},{\"y\":55.7826788192313,\"z\":10.2530002593994,\"x\":12.5141565871093,\"rx\":0,\"ry\":180,\"rz\":114.908004760742,\"fiducial_id\":150},{\"y\":55.7826268681538,\"z\":10.2530002593994,\"x\":12.514126610999,\"rx\":0,\"ry\":180,\"rz\":114.908004760742,\"fiducial_id\":151},{\"y\":55.7825286244069,\"z\":10.2530002593994,\"x\":12.5140748829797,\"rx\":0,\"ry\":180,\"rz\":114.908004760742,\"fiducial_id\":152},{\"y\":55.7824561121478,\"z\":10.2530002593994,\"x\":12.5140331926298,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":153},{\"y\":55.7823734933141,\"z\":10.2530002593994,\"x\":12.5139859846002,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":154},{\"y\":55.7823196086569,\"z\":10.2530002593994,\"x\":12.5139544447294,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":155},{\"y\":55.7822373160491,\"z\":10.2530002593994,\"x\":12.5139074910966,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":156},{\"y\":55.7821519031233,\"z\":10.2530002593994,\"x\":12.5138611153848,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":157},{\"y\":55.7821051250662,\"z\":10.2530002593994,\"x\":12.5138364390989,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":158},{\"y\":55.7820465675116,\"z\":10.7419996261597,\"x\":12.513851384089,\"rx\":4.07111003979457e-13,\"ry\":180,\"rz\":115.000007629395,\"fiducial_id\":159},{\"y\":55.6617074878224,\"z\":15,\"x\":12.5863218280206,\"rx\":-0.00000500895657751244,\"ry\":180,\"rz\":197,\"fiducial_id\":201}]}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":240,
      "y":40,
      "wires":[
         [
            "5d7653dd.f0234c"
         ]
      ]
   },
   {
      "id":"5d7653dd.f0234c",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"3b333869.f59f08",
      "topicname":"/fiducial_map_gps",
      "msgtype":"fiducial_msgs/FiducialMapEntryArray",
      "x":490,
      "y":40,
      "wires":[

      ]
   },
   {
      "id":"6b83af81.82f72",
      "type":"ros-subscribe",
      "z":"44aafa48.6dc6d4",
      "server":"29f936a2.130aaa",
      "topicname":"/robot_gps_pose",
      "x":140,
      "y":1120,
      "wires":[
         [
            "10cc17cb.b29e68"
         ]
      ]
   },
   {
      "id":"9a769ae4.203c18",
      "type":"debug",
      "z":"44aafa48.6dc6d4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":430,
      "y":1120,
      "wires":[

      ]
   },
   {
      "id":"10cc17cb.b29e68",
      "type":"function",
      "z":"44aafa48.6dc6d4",
      "name":"JSON",
      "func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":290,
      "y":1120,
      "wires":[
         [
            "9a769ae4.203c18"
         ]
      ]
   },
   {
      "id":"f79b30d.1b504d",
      "type":"ros-subscribe",
      "z":"44aafa48.6dc6d4",
      "server":"29f936a2.130aaa",
      "topicname":"/debug_output",
      "x":140,
      "y":1180,
      "wires":[
         [
            "d3c0ba35.17aad8"
         ]
      ]
   },
   {
      "id":"ff4257ff.378de8",
      "type":"debug",
      "z":"44aafa48.6dc6d4",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "x":460,
      "y":1180,
      "wires":[

      ]
   },
   {
      "id":"d3c0ba35.17aad8",
      "type":"function",
      "z":"44aafa48.6dc6d4",
      "name":"JSON",
      "func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":320,
      "y":1180,
      "wires":[
         [
            "ff4257ff.378de8"
         ]
      ]
   },
   {
      "id":"8e78ebaa.95ae58",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Initial campus id 89",
      "topic":"",
      "payload":"{\"data\":89}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":230,
      "y":80,
      "wires":[
         [
            "6f7cb48b.69e6ac"
         ]
      ]
   },
   {
      "id":"6f7cb48b.69e6ac",
      "type":"ros-publish",
      "z":"44aafa48.6dc6d4",
      "server":"29f936a2.130aaa",
      "topicname":"//mazemap/campusId",
      "msgtype":"std_msgs/Int32",
      "x":500,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"8c428267.e720e",
      "type":"inject",
      "z":"44aafa48.6dc6d4",
      "name":"Initial campus id 179",
      "topic":"",
      "payload":"{\"data\": 179}",
      "payloadType":"json",
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "x":230,
      "y":120,
      "wires":[
         [
            "6f7cb48b.69e6ac"
         ]
      ]
   },
   {
      "id":"29cb5c5b.0fdd74",
      "type":"mqtt in",
      "z":"b32abdca.b4f898",
      "name":"",
      "topic":"#",
      "qos":"0",
      "broker":"69f8ec92.eedf54",
      "x":150,
      "y":80,
      "wires":[
         [
            "38d4897.be915f6",
            "f3480f2b.e15b9"
         ]
      ]
   },
   {
      "id":"f3480f2b.e15b9",
      "type":"switch",
      "z":"b32abdca.b4f898",
      "name":"MQTT_hdl",
      "property":"payload",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"STOP",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"FWD",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"BACK",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"LEFT",
            "vt":"str"
         },
         {
            "t":"eq",
            "v":"RIGHT",
            "vt":"str"
         }
      ],
      "checkall":"false",
      "repair":false,
      "outputs":5,
      "x":370,
      "y":240,
      "wires":[
         [
            "c12d15f0.7b4cc8"
         ],
         [
            "69755edf.b1461"
         ],
         [
            "5df10df3.6e811c"
         ],
         [
            "4db97a15.1849a4"
         ],
         [
            "5aca00ac.e29c5"
         ]
      ]
   },
   {
      "id":"c9708475.cafea8",
      "type":"ros-publish",
      "z":"b32abdca.b4f898",
      "server":"29f936a2.130aaa",
      "topicname":"/cmd_vel",
      "msgtype":"geometry_msgs/Twist",
      "x":840,
      "y":260,
      "wires":[

      ]
   },
   {
      "id":"38d4897.be915f6",
      "type":"debug",
      "z":"b32abdca.b4f898",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":360,
      "y":100,
      "wires":[

      ]
   },
   {
      "id":"69755edf.b1461",
      "type":"function",
      "z":"b32abdca.b4f898",
      "name":"Forward",
      "func":"msg.payload = {\n    \"linear\": {\n        \"x\": 0.5,\n        \"y\": 0.0,\n        \"z\": 0.0\n    },\n    \"angular\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    }\n};\nreturn msg",
      "outputs":1,
      "noerr":0,
      "x":600,
      "y":220,
      "wires":[
         [
            "c9708475.cafea8",
            "63f742a0.1c7fc4"
         ]
      ]
   },
   {
      "id":"c12d15f0.7b4cc8",
      "type":"function",
      "z":"b32abdca.b4f898",
      "name":"Stop",
      "func":"msg.payload = {\n    \"linear\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    },\n    \"angular\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    }\n};\nreturn msg\n",
      "outputs":1,
      "noerr":0,
      "x":590,
      "y":160,
      "wires":[
         [
            "c9708475.cafea8",
            "63f742a0.1c7fc4"
         ]
      ]
   },
   {
      "id":"5df10df3.6e811c",
      "type":"function",
      "z":"b32abdca.b4f898",
      "name":"Backward",
      "func":"msg.payload = {\n    \"linear\": {\n        \"x\": -0.5,\n        \"y\": 0.0,\n        \"z\": 0.0\n    },\n    \"angular\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    }\n};\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":600,
      "y":280,
      "wires":[
         [
            "c9708475.cafea8"
         ]
      ]
   },
   {
      "id":"4db97a15.1849a4",
      "type":"function",
      "z":"b32abdca.b4f898",
      "name":"Left",
      "func":"msg.payload = {\n    \"linear\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    },\n    \"angular\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 1.0\n    }\n};\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":590,
      "y":340,
      "wires":[
         [
            "c9708475.cafea8"
         ]
      ]
   },
   {
      "id":"5aca00ac.e29c5",
      "type":"function",
      "z":"b32abdca.b4f898",
      "name":"Right",
      "func":"msg.payload = {\n    \"linear\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": 0.0\n    },\n    \"angular\": {\n        \"x\": 0.0,\n        \"y\": 0.0,\n        \"z\": -1.0\n    }\n};\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "x":590,
      "y":400,
      "wires":[
         [
            "c9708475.cafea8"
         ]
      ]
   },
   {
      "id":"63f742a0.1c7fc4",
      "type":"debug",
      "z":"b32abdca.b4f898",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":840,
      "y":180,
      "wires":[

      ]
   },
   {
      "id":"dc75b0aa.0820d",
      "type":"debug",
      "z":"53d2ec5b.06b504",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":540,
      "y":80,
      "wires":[

      ]
   }
]
